%buttonBase {
  width: 35px;
  height: 35px;
  background-color: #3a4d3d;
  border: 1px solid #666;
  color: #c2bfa3;
  padding: 6px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 4px #000;

  &:hover {
    background-color: #666;
  }
}

.muteButton {
  @extend %buttonBase;
}

.statusButton {
  @extend %buttonBase;
  margin-left: auto;
}

.wrapper {
  background-color: #484848;
  padding: 12px;
  width: 250px;
  font-family: "Courier New", monospace;
  color: #c2bfa3;
  box-shadow: inset 0 0 4px #000, inset 0 0 8px #666,
    0 4px 12px rgba(0, 0, 0, 0.6);
  background-image: radial-gradient(circle at center, #555 0%, #484848 100%);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
}

.topBarClosed {
  width: 100px;
  background-color: unset;
  border: none;
  box-shadow: none;
  background-image: unset;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.panelBody {
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.mb0 {
  margin-bottom: 0;
}
