.page {
  font-family: var(--font-geist-sans);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: unset;
    justify-content: center;
    flex-direction: row;
  }
}

.container {
  padding: 60px 10px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  min-height: 100vh;
  @media screen and (min-width: 768px) {
    padding: 20px;
  }
}

.button {
  background-color: #4caf50;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.startButton {
  background-color: #e7666c;
}

.showShipsButton {
  background-color: #6f6d6a;
}

.title {
  margin-bottom: 10px;
}

.startButtonContainer {
  position: fixed;
  top: 0;
  padding-top: 5px;
  @media screen and (min-width: 768px) {
    position: uset;
  }
}

.start {
  @media screen and (max-width: 768px) {
    padding: 10px;
  }
}
