.page {
  font-family: var(--font-geist-sans);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: unset;
    justify-content: center;
    flex-direction: row;
  }
}

.container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #3c5c4a;
  min-height: 100vh;
  @media screen and (min-width: 768px) {
    padding: 20px;
    align-items: center;
  }
}

.start {
  @media screen and (max-width: 767px) {
    padding: 10px;
  }
}
