.destroyed {
  background-image: url("/destroyedShip.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
  animation: grow-bg-targetedEmpty 1s forwards;
}

.targetedEmptyCell {
  will-change: background-size;
  cursor: none;
  background-image: url("/emptyShotB.webp");
  background-size: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  animation: grow-bg-targetedEmpty 1s forwards;
  opacity: 0.7;
}

@keyframes grow-bg-targetedEmpty {
  from {
    background-size: 0 0;
  }
  to {
    background-size: 100% 100%;
  }
}

.cell {
  height: 100%;
  width: 100%;
  z-index: 3;
}
