.container {
  padding-bottom: 10px;
  max-width: 450px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 10px;
  }
}

.wrapper {
  display: grid;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1 / 1;
  background-image: url("/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  border: 0.1px solid #225d53;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #fff;
}

.shipPart {
  background-color: #737798;
}

.targetedEmptyCell {
  will-change: background-size;
  cursor: none;
  background-image: url("/emptyShotB.webp");
  background-size: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  animation: grow-bg-targetedEmpty 1s forwards;
}

@keyframes grow-bg-targetedEmpty {
  from {
    background-size: 0 0;
  }
  to {
    background-size: 120% 120%;
  }
}

.targetedShipCell {
  cursor: none;
  background-image: url("/explosion.webp");
  background-size: 0 0;
  background-position: center;
  background-repeat: no-repeat;
  animation: grow-bg-targeted 1s forwards;
}

@keyframes grow-bg-targeted {
  from {
    background-size: 0 0;
  }
  to {
    background-size: 90% 90%;
  }
}

.destroyed {
  background-image: url("/destroyedShip.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
