.container {
  padding-bottom: 10px;
  max-width: 450px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 10px;
  }
}

.wrapper {
  display: grid;
  width: 100%;
  max-width: 450px;
  aspect-ratio: 1 / 1;
  background-image: url("/bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  position: relative;
  outline: 0.05px solid #225d53;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: #fff;
}
